<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a ng-href="/#/company" style="color: red"> Back</a>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-sm-2"
          type="text"
          placeholder="Search"
          ng-model="searchNAME"
        />
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</nav>

<h1>Collections of {{vm.cars.name}} Company</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Car Name</th>
      <th scope="col">Date of Production</th>
      <th scope="col">Mileage(miles)</th>
      <th scope="col">Price($)</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="table-active"
      ng-repeat="car in vm.cars.carModels | filter :searchNAME"
    >
      <th scope="row">{{car.name}}</th>
      <td>{{car.date_production}}</td>
      <td>{{car.mileage}} miles</td>
      <td>{{car.price |currency}}</td>
      <td>
        <button
          class="btn btn-danger"
          ng-click="vm.deletecar(vm.cars._id,car._id)"
        >
          Delete Car
        </button>
      </td>
    </tr>
  </tbody>
</table>
<!-- <ul>
  <li ng-repeat="car in vm.cars.carModels">
    <h4>
      Name: {{car.name}}
      <button
        class="btn btn-danger"
        ng-click="vm.deletecar(vm.cars._id,car._id)"
      >
        Delete Car
      </button>
    </h4>
    <p>price: {{car.price |currency}}</p>
    <p>date_production: {{car.date_production}}</p>
    <p>mileage: {{car.mileage}} miles</p>
  </li>
</ul> -->
<h5>To add a new car please fill in all the fields below:<br /></h5>
<form
  name="vm.carForm"
  ng-submit="vm.addcar(vm.cars._id)"
  style="display: table-caption"
>
  Name
  <input
    type="text"
    name="name"
    required
    ng-model="vm.newcarname"
    style="color: black"
  /><br />
  Price
  <input
    type="text"
    name="price"
    required
    ng-model="vm.newcarprice"
    style="color: black"
  /><br />
  Mileage
  <input
    type="text"
    name="mileage"
    required
    ng-model="vm.newcarmileage"
    style="color: black"
  /><br />
  Date Poduction
  <input
    type="text"
    name="date_production"
    required
    ng-model="vm.newcardate_production"
    style="color: black"
  /><br />
  <button type="submit" style="background-color: yellow">Add car</button><br />
</form>
