<h1>List of Deals of Games</h1>
<ul>
  <li ng-repeat="game in mainCtrl.games">
    <h4>{{game.title}} <input type="checkbox" ng-model="details" /></h4>

    <div>
      <p ng-show="details">Game internalName: {{game.internalName}}</p>
      <p ng-show="details">Game gameID: {{game.gameID}}</p>
      <p ng-show="details">Game salePrice: {{game.salePrice | currency}}</p>
      <p ng-show="details">Game normalPrice: {{game.normalPrice | currency}}</p>
      <p ng-show="details">Game isOnSale: {{game.isOnSale}}</p>
      <p ng-show="details">Game savings: {{game.savings | currency}}</p>
      <p ng-show="details">Game metacriticScore: {{game.metacriticScore}}</p>
      <p ng-show="details">Game releaseDate: {{game.releaseDate |date}}</p>
    </div>
  </li>
</ul>
