<h2>Free to Play Games</h2>
<ul>
  <li ng-repeat="game in mainCtrl.games">
    {{game}}
    <!-- <span>{{game.title}}</span>
    <input type="checkbox" ng-model="details" />
    <div>
      <span ng-show="details"> Game Thumbnail:{{game.thumbnail}}</span>
      <span ng-show="details">
        Game Short_description:{{game.short_description}}</span
      >
      <span ng-show="details"> Game Url:{{game.game_url}}</span>
      <span ng-show="details"> Game genre:{{game.genre}}</span>
      <span ng-show="details"> Game Publisher:{{game.publisher}}</span>
      <span ng-show="details"> Game Platform:{{game.platform}}</span>
      <span ng-show="details"> Game Developer:{{game.developer}}</span>
      <span ng-show="details"> Game Release_date:{{game.release_date}}</span>
    </div> -->
  </li>
</ul>
